*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #aaaf;;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

h1{
  color: #fff9;
  text-align: center;
}